.slider img {
  height: 450px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
